Package: python-jlweather
Source: jlweather
Version: 0.1-1
Architecture: all
Maintainer: Jean Lopes <jeanoliveiralopes@gmail.com>
Installed-Size: 173
Depends: python (>= 2.7), python (<< 2.8), python:any (>= 2.7.1-0ubuntu2)
Section: python
Priority: optional
Description: A small app system tray to show current weather forecast
